*{
    box-sizing: border-box;
    image:100%;
}

body {
    font-family: Poppins;
    width: 1200px;
    color: red;
}

.h1 {
    font-size: 2.027rem; 
    font-style: #000;
}

/* grid for images */
/* body main .section-1 .images */
 .images {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* image: 10%; */
}

.images img:nth-child(1){
    width: 1fr;
}